.page
{
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: white;
}

.section
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 24px;
  margin-bottom: 24px;
}

.title
{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.intro-text
{
  font-size: 0.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #595959;
  text-align: right;
  line-height: 0.7;
}

.hero-container
{
  display: flex;
  flex-direction: row;
  background-color: #306785;
}

.topic-name
{
  flex: 0 0 30%;
  max-width: 30%;
  color: #306785;
}

.topic-subheading
{
  font-weight: bold;
  text-decoration: underline;
}

ul.small-list li::marker
{
    font-size: 15px;
}

.thick-line
{
    height: 1px;
    background-color: #306785;
    width: 100%;
}
